<%include ../partials/admin/header%>

<style>
.container{
    background-color: white;
}
#info{

    width: 200px;
    height: 200px;
    margin: auto;
background-color: lime;
border-radius: 50%;
text-align: center;
}
</style>
<div class="container">
        <div id="info">
            <br>
                <h1>Hi</h1>
               <h3> <%=userName%></h3>
            </div>
</div>



        
                  
<%include ../partials/admin/footer%>
    